html {
    position: relative;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.5);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: white;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 35px 20px;
}

.modal-close,
.next,
.prev {
    position: absolute;
    cursor: pointer;
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
}

.modal-close {
    right: 15px;
    top: 5px;
    background-color: white;
    outline: none;
    border: none;
}


.next {
    right: -50px;
    top: 213px; 
    font-weight: 500;
}

.prev {
    left: -50px;
    top: 213px;
    font-weight: 500;
}

.hidden {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: gray;
}

#search {
    width: 31.25rem;
    border: #8D8B8B solid 1px;
    outline: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.card {
    display: flex;
    border: #8D8B8B solid 2px;
    width: 80%;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.name {
    color: #686565;
}

.email,
.address,
.extra-text {
    color: #8D8B8B;
}

.modal-content img {
    border-radius: 50%;
}